.toolbar {
  display: flex;
  justify-content: space-between;

  .left,
  .right {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
  }

  a.active {
    font-weight: 700;
    text-decoration: underline;
  }
}

.loading-overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10000;
}
